/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
html{
    font-family: sans-serif;
}

img{
    max-width: 100%;
}

ul{
    list-style: none;
}

.flex-container{
    display: flex;
}

.justify-content-btw{
    justify-content: space-between;
}

.align-content-start{
    align-content: flex-start;
}

/* MAIN */
.wrapper{
    height: 100vh;
    width: 100%;
}

.container{
    width: 95%;
    max-width: 1820px;
    margin: 60px auto 20px;
    flex-wrap: wrap;
}

.video-call{
    height: calc(100% - 80px);
    width: 100%;
    background-color: black;
    overflow-y: auto;
    position: relative;
}

/* col */
.col{
    width: calc(100% / 7 - 5px);
}

.card{
    position: relative;
    margin-bottom: .8em;
}

.nickname{
    font-size: .8rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 8px;
    position: absolute;
    bottom:0;
    left:0;
}

/* view */
.view-items{
    position: absolute;
    top: 7px;
    right: 7px;
}

.view{
    display: inline-block;
    font-size: .8rem;
    color: white;
    background-color: rgba(255, 255, 255, .2);
    border-radius: 10px;
    padding: 7px;
    cursor: pointer;
}

/* toolbar */
.toolbar{
    height: 80px;
    background-color: #222222;
    color: white;
    align-items: center;
    padding-left: 10px;
}

.toolbar ul li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 7px 20px;
    align-items: center;
    margin: 0 8px;
    cursor: pointer;
}

.toolbar ul li span{
    font: .7rem;
}

.toolbar .icon{
    font-size: 1.7rem;
}

.fa-chevron-up{
    font-size: .5rem;
}

.share{
    color: #4bc800;
}

.end{
    height: 100%;
    width: 10%;
    text-align: end;
    line-height: 80px;
    color: red;
    cursor: pointer;
}

/* hover */
.end:hover{
    background-color: #4a4a4a;
}

.card:hover::after{
    content:"...";
    display: inline-block;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 2px 5px;
    position:absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.toolbar li:hover{
    transform: scale(1.2);
    opacity: 70%;
}


